body, html {
	color: var(--text-color);
	font-family: var(--font-family);
	height: 100%;
    margin: 0;
    padding: 0;
}

#app {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

input {
	color: var(--primary-300);
}

h1 {
	color: var(--indigo-400);
}
